{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "172.31.53.235:49023"
      ],
      "utp_custom_listeners": [
        "172.31.53.235:37253"
      ],
      "udp_mapper_servers": [
        "172.31.53.235:55517"
      ],
      "tcp_mapper_servers": [
        "172.31.53.235:41843"
      ]
    }
  ],
  "tcp_acceptor_port": null,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [],
  "tcp_mapper_servers": [],
  "enable_tcp": true,
  "enable_utp": true,
  "service_discovery_port": null,
  "bootstrap_cache_name": null
}
