{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "128.237.223.71:58731",
        "128.237.223.71:58720"
      ],
      "utp_custom_listeners": [
      ],
      "udp_mapper_servers": [
      ],
      "tcp_mapper_servers": [
      ]
    }
  ],
  "tcp_acceptor_port": null,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [
  ],
  "tcp_mapper_servers": [
  ],
  "enable_tcp": true,
  "enable_utp": true,
  "service_discovery_port": null,
  "bootstrap_cache_name": null
}
