{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "128.237.223.71:58732",
        "128.237.223.71:58720"
      ],
      "utp_custom_listeners": [
        "128.237.223.71:51650",
        "128.237.223.71:52562"
      ],
      "udp_mapper_servers": [
        "128.237.223.71:63357",
        "128.237.223.71:50504"
      ],
      "tcp_mapper_servers": [
        "128.237.223.71:58731",
        "128.237.223.71:58719"
      ]
    }
  ],
  "tcp_acceptor_port": null,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [
    "128.237.223.71:63357",
    "128.237.223.71:50504"
  ],
  "tcp_mapper_servers": [
    "128.237.223.71:58731",
    "128.237.223.71:58719"
  ],
  "enable_tcp": true,
  "enable_utp": true,
  "service_discovery_port": null,
  "bootstrap_cache_name": null
}
